asn1crypto==0.24.0
azure-common==1.1.16
azure-nspkg==2.0.0
azure-storage==0.36.0
beautifultable==0.5.3
boto3==1.9.42
botocore==1.12.42
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.1
docutils==0.14
future==0.17.1
idna==2.7
ijson==2.3
jmespath==0.9.3
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyAthena==1.4.2
pycparser==2.19
pycryptodomex==3.7.0
PyJWT==1.6.4
pyOpenSSL==18.0.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==5.1
requests==2.20.1
s3transfer==0.1.13
six==1.11.0
snowflake-connector-python==1.6.12
tenacity==5.0.2
urllib3==1.24.1
